@import mixins

body
	margin: 0
	color: white
	background: #1b3867
	+flexbox
	justify-content: center
	font-family: 'Lato', sans-serif

#root
	width: 75%
	margin: 3% 0

h1
	margin: 0 0 6% 0
	@include desktop
		margin: 0 0 4% 0
	font-size: 3.5em
	@include all-phone
		font-size: 3em

.button
	background: white
	box-sizing: border-box
	padding: 8px 14px
	width: 20%
	border-radius: 12px
	border: none
	cursor: pointer
	+transition(0.25s opacity ease)
	z-index: 1
.button:hover
	opacity: .8

.metronome
	@include desktop
		margin: 4% 0 0 0
	background: url('./metronome-base.svg')
	background-size: 85%
	background-position: center
	background-repeat: no-repeat
	width: 60%
	max-width: 600px
	max-height: 600px
	+flexbox
	justify-content: center
	align-items: center
	.wand
		padding: 0 0 24% 4px
		width: 25%
		transform-origin: center 76%

.row
	+flexbox
	justify-content: center

.controls-container
	width: 60%
	font-size: 40px

form
	width: 100%
	max-width: 430px
	+flexbox
	justify-content: space-between
	input[type='number']
		padding: 6px 0 3px 8px
		font-size: 18px
		border-radius: 4px
		border: none
		margin: 0 0 0 8px
		@include all-phone
			margin: 0 0 0 2px
	label
		font-size: 1.2em

a
	color: white

a:hover
	opacity: 0.6

a:visited
	opacity: 0.6
