@import ../../sass/global

.metronome
  &_figure
    margin-top: -2rem
    background-size: 75%
    background-position: center center
    background-repeat: no-repeat
    width: 100%
    max-width: 620px

    +flexbox

    flex-direction: column
    justify-content: center
    align-items: center

a
  color: white

a:hover
  opacity: 0.6

a:visited
  opacity: 0.6
